body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: madefor-400, sans-serif;
    scroll-behavior: smooth;
}
/* header{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;
} */

.topbar{
    margin: auto;
    background-color:#caf953 ;
    width: 95%;
    height: 30px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
}
.tobar h2{
    font-size: 25px;
    margin-left: 10px;
    list-style: none;
}


.topbar ul{
    display: flex;
    list-style: none;
  

    padding: 15px;
}
.topbar ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.info ul li{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-left: 90px;
        transition: 0.5s;
}
.info ul li a:hover{
    text-decoration: underline;
}
.name a{
    font-size: 30px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
text-decoration: none;
color: #000;
margin-left: 20px;

}
.name a:hover{
transform: scale(1.1);
    transition: 0.5s;
}


.container{
 margin-top: 10px;
 margin-left: 20px;
 border-radius: 20px;
 background-image:linear-gradient(rgba(255, 255, 255, 0.795),rgba(128, 128, 128, 0.651)), url(img/bg.jpg);
 /* background-size: cover; */
 background-position: center;
 width: 97%;
height: 70vh;
object-fit: cover;
}

.vid video{
    width: 100px;
    object-fit: cover;
    margin-top: 20px;
    margin-left: 36em;
    border-radius: 10px;
}

.intro{
    text-align: center;
    margin-top: 30px;
}

.intro h1{
    font-size: 80px;

}
.intro p{
    font-size: 18px;
    margin-top: -2.7em;
}

.link{
    margin-top: 2em;
    margin-left: 34em;
}
.link button{
    background-color: #caf953;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}
.link button:hover{
    text-decoration: underline;
}